devworx-app,
devworx-view,
devworx-list {
  display:block;
  width:100%;
}

devworx-app {
  background: rgb(145,85,205);
  background: linear-gradient(
    0deg, 
    rgba(145,85,205,1) 10%, 
    rgba(183,175,255,1) 30%, 
    rgba(0,0,0,1) 100%
  ); 
  background-attachment: fixed;
  min-height: 100svh;
}

devworx-app > main {
  padding-top: 8vh;
}

devworx-list {
    
}

/* VIEW HELPERS */

devworx-id, 
devworx-time, 
devworx-timespan, 
devworx-salary {
  
}

devworx-id {
  
}

devworx-time {
  
}

devworx-timespan {
  
}

devworx-salary {
  
}
