.active { background-color: var(--bs-highlight) !important }

.mi-btn { 
  overflow-x: hidden; 
  --bs-btn-padding-x: .35rem;
  --bs-btn-padding-y: .175rem;
}

.mi-btn small { 
  max-width: 0px;
  overflow: hidden; 
  white-space: nowrap;
  padding-left: 0rem;
  transition: color .5s, background-color .5s, max-width .5s;
}

.mi:hover, 
.mi-btn:hover > .mi, 
.mi-btn.active > .mi,
.mi-btn.active > small { color: var(--bs-highlight-color) !important }

.mi-btn:hover small,
.mi-btn.active small { 
  max-width: 200px !important; 
  padding-left: .5rem; 
}
