@media print {

  @page {
    size: A4 portrait;
    margin: 5mm;
  }

  html, body {
    font-size: 10pt;
  }

  html, body, 
  devworx-app, devworx-app > main, 
  .print-container {
    margin: 0 !important;
    padding: 0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  form, nav, .mi { display:none !important; }
  
  h1, h2 { size: 12pt }
  small { size: 9pt;  }
  
  .print-container {
    
  }
  table { 
    table-layout:fixed; 
    width: 100%; 
    border-collapse:collapse; 
  }
  table tr {
    break-inside: avoid-page;
  }
}