.fm {
  --fm-opacity: .5;
  --fm-error: rgba( var(--bs-danger-rgb), var(--fm-opacity) );
  --fm-warning: rgba( var(--bs-warning-rgb), var(--fm-opacity) );
  --fm-info: rgba( var(--bs-success-rgb), var(--fm-opacity) );
  border: 1px solid var(--bs-dark);
  padding: 1rem;
}

.fm-error {
  background-color: var(--fm-error);
  color: var(--bs-light);
}

.fm-info {
  background-color: var(--fm-info);
  color: var(--bs-light);
}

.fm-warning {
  background-color: var(--fm-warning);
  color: var(--bs-dark);
}