form {
  --input-padding: .25rem .5rem;
  --input-border-size: 1px;
  --input-border: var(--input-border-size) solid transparent;
  --input-border-focus: var(--input-border-size) solid var(--bs-primary);
  --input-border-invalid: var(--input-border-size) solid var(--bs-danger);
  --input-border-valid: var(--input-border-size) solid var(--bs-success);
}

select, 
input[type="checkbox"],
input[type="radio"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="datetime"],
input[type="datetime_local"],
input[type="range"] { 
  outline:none;
  border: var(--input-border); 
}

select,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="datetime"],
input[type="datetime_local"] { 
  display:block;
  padding: var(--input-padding);
}

select:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="datetime"]:focus,
input[type="datetime_local"]:focus,
input[type="range"]:focus { border: var(--input-border-focus) }

select:invalid,
input[type="checkbox"]:invalid,
input[type="radio"]:invalid,
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="search"]:invalid,
input[type="datetime"]:invalid,
input[type="datetime_local"]:invalid,
input[type="range"]:invalid { border: var(--input-border-invalid) }

select:valid,
input[type="checkbox"]:valid,
input[type="radio"]:valid,
input[type="text"]:valid,
input[type="password"]:valid,
input[type="search"]:valid,
input[type="datetime"]:valid,
input[type="datetime_local"]:valid,
input[type="range"]:valid { border: var(--input-border-valid) }